version: "3.4"

services:
    postgres:
      image: postgres:11.1-alpine
      environment:
        - POSTGRES_PASSWORD=2d71e50b79623b220fe6a7f235e87f29
        - POSTGRES_DB=api
      ports:
        - 5432:5432

    api:
        build: ./api
        working_dir: /srv/api
        volumes:
            - ./api:/srv/api
        environment:
            - DATABASE_URL=pgsql://postgres:2d71e50b79623b220fe6a7f235e87f29@postgres:5432/api

    nginx:
        image: nginx:latest
        volumes: 
            - ./api/public:/srv/api/public
            - ./api/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        ports: 
            - 80:80
            - 443:443

    adminer:
      image: adminer
      restart: always
      ports:
        - 8081:8080

    client:
        build: ./client
        volumes:
        - ./client:/app
        ports:
            - 4200:4200
        tty: true
