<form>
  <mat-form-field class="search-field">
    <mat-label>Rechercher un mot</mat-label>
    <input type="text"
           placeholder="Ex : arbre"
           aria-label="Word"
           matInput
           [matAutocomplete]="auto"
           (input)="valuechange($event.target.value)">
    <mat-spinner class="spinner" diameter="14" *ngIf="!hidden"></mat-spinner>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let word of words" [value]="word.id">
        {{word.french}} - {{ word.korean }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
      <button mat-button color="primary">Rechercher</button>
</form>
